 Jura crqrfgevnaf gel gb pebff
 V yrg gurz xabj jub'f obff
 V arire oybj gur ubea be tvir gurz jneavat
 V evqr nyy bire gbja
 gelvat gb eha gurz qbja
 Naq vg'f fryqbz gung gurl yvir gb frr gur zbeavat

   ["Cynfgvp Wrfhf", pvepn 1969, fvta-ba
    fbat bs qvfx wbpxrl Qba Vzvf]
%
Tbq vf erny, hayrff qrpynerq vagrtre.
%
Uhznavgl'f svefg fva jnf snvgu; gur svefg iveghr jnf qbhog.
%
Nal oryvrs jbegu univat zhfg fheivir qbhog.
%
Rkcynvavat gur haxabja ol zrnaf bs gur habofreinoyr
vf nyjnlf n crevybhf ohfvarff.
%
